{
  "*.{ts,js}": ["eslint --fix"],
  "package.json": [
    "eslint -c eslint.package-json.config.mjs --no-warn-ignored --fix",
    "prettier --write"
  ],
  "!(package).json": ["prettier --write"],
  "*.{js,mts,css,scss,less,md,ts,html,component.html}": ["prettier --write"]
}
