language: node_js
node_js:
  - '10'
addons:
  apt:
    packages:
      - libgconf-2-4
cache:
  npm: true
  directories:
    - ~/.cache
install:
  - npm ci
script:
  - $(npm bin)/cypress run --record
notifications:
  email: true
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
