<h3 class="mb">Structural Directive</h3>
<ng-container *transloco="let t">
  <ul class="list-group">
    <li class="list-group-item" data-cy="regular"><b>Regular: </b>{{ t('home') }}</li>
    <li class="list-group-item" data-cy="with-params"><b>With params: </b>{{ t('alert', { value: dynamic }) }}</li>
    <li class="list-group-item" data-cy="with-translation-reuse"><b>With translation reuse: </b> {{ t('a.b.c') }}</li>
  </ul>
</ng-container>

<h3 class="mtb">Directive</h3>
<ul class="list-group">
  <li class="list-group-item" data-cy="d-regular"><b>Regular: </b><span transloco="home"></span></li>
  <li class="list-group-item" (click)="changeParam()" data-cy="d-with-params">
    <b>(click) With params: </b><span transloco="alert" [translocoParams]="{ value: dynamic }"></span>
  </li>
  <li class="list-group-item" data-cy="d-with-translation-reuse">
    <b>With translation reuse: </b> <span transloco="a.b.c"></span>
  </li>
  <li class="list-group-item" (click)="changeKey()" data-cy="d-dynamic-key">
    (click) <b>Dynamic key: </b> <span [transloco]="key"></span>
  </li>
</ul>

<h3 class="mtb">Pipe</h3>
<ul class="list-group">
  <li class="list-group-item" data-cy="p-regular"><b>Regular: </b>{{ 'home' | transloco }}</li>
  <li class="list-group-item" data-cy="p-with-params">
    <b>With params: </b>{{ 'alert' | transloco: { value: dynamic } }}
  </li>
  <li class="list-group-item" data-cy="p-with-translation-reuse">
    <b>With translation reuse: </b> {{ 'a.b.c' | transloco }}
  </li>
</ul>

<h3 class="mtb">Translation in ngFor</h3>
<ul class="list-group">
  <li *ngFor="let key of translateList" class="list-group-item" data-cy="translation-loop">{{ key | transloco }}</li>
</ul>
