* {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

.flex {
  display: flex;
}

.gap-2 {
  gap: 0.5rem;
}

pre {
  color: #e83e8c;
}

.quoteblock {
  padding: 20px;
  background-color: rgba(231, 231, 231, 0.5);
}
.quoteblock::before {
  content: '- ';
}
