<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">🦄 Transloco</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="lazy">Lazy</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="dynamic-translation">Dynamic Translation</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="multilangs">Multi Langs</a>
      </li>
    </ul>

    <div>
      <button
        data-cy="en"
        class="btn my-2 my-sm-0"
        style="margin-right: 10px;"
        (click)="change('en')"
        [ngClass]="{ 'btn-outline-primary': activeLang === 'en', 'btn-outline-secondary': activeLang !== 'en' }"
      >
        English
      </button>
      <button
        data-cy="es"
        class="btn my-2 my-sm-0"
        (click)="change('es')"
        [ngClass]="{ 'btn-outline-primary': activeLang === 'es', 'btn-outline-secondary': activeLang !== 'es' }"
      >
        Spanish
      </button>
    </div>
  </div>
</nav>

<div class="container">
  <p class="mtb">
    Active language: <b style="color: hotpink">{{ activeLang }}</b>
  </p>

  <!-- Uncomment to test the TranslocoTestingModule
  <h1 [transloco]="'home'"></h1> -->

  <router-outlet></router-outlet>
</div>
