<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://github.com/ngneat/transloco">
    <img id="logo" src="assets/logo.png" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarSupportedContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="lazy">Lazy</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="scope-sharing">Scope Sharing</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="dynamic-translation">Dynamic Translation</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="multilangs">Multi Langs</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="transpilers">Transpilers</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="locale">Locale</a>
      </li>
    </ul>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <div class="lang-btns">
      <button
        data-cy="en"
        class="btn my-2 my-sm-0"
        style="margin-right: 10px;"
        (click)="change('en-US')"
        [ngClass]="{ 'btn-primary': activeLang === 'en-US', 'btn-secondary': activeLang !== 'en' }"
      >
        English
      </button>
      <button
        data-cy="es"
        class="btn my-2 my-sm-0"
        (click)="change('es-ES')"
        [ngClass]="{ 'btn-primary': activeLang === 'es-ES', 'btn-secondary': activeLang !== 'es' }"
      >
        Spanish
      </button>
    </div>
  </div>

  <!--   Uncomment to test the TranslocoTestingModule-->
  <!--  <h1 [transloco]="'home'"></h1>-->
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
